/* ============================================================
   Police Hanken Grotesk embarquée dans les paquets Éléa
   (remplace l'import Google Fonts de assets/theme.css, pour ne pas
   dépendre du réseau du lycée). Jeu de caractères latin, poids 400 à 800.
   Fichiers : paquet npm @fontsource/hanken-grotesk 5.3.0, licence SIL OFL 1.1 (OFL.txt).
   ============================================================ */
@font-face { font-family: 'Hanken Grotesk'; font-style: normal; font-display: swap; font-weight: 400; src: url(hanken-grotesk-latin-400-normal.woff2) format('woff2'); }
@font-face { font-family: 'Hanken Grotesk'; font-style: normal; font-display: swap; font-weight: 500; src: url(hanken-grotesk-latin-500-normal.woff2) format('woff2'); }
@font-face { font-family: 'Hanken Grotesk'; font-style: normal; font-display: swap; font-weight: 600; src: url(hanken-grotesk-latin-600-normal.woff2) format('woff2'); }
@font-face { font-family: 'Hanken Grotesk'; font-style: normal; font-display: swap; font-weight: 700; src: url(hanken-grotesk-latin-700-normal.woff2) format('woff2'); }
@font-face { font-family: 'Hanken Grotesk'; font-style: normal; font-display: swap; font-weight: 800; src: url(hanken-grotesk-latin-800-normal.woff2) format('woff2'); }
